<h1>Hello</h1>

<!-- Jumbotron - Above the fold -->
<section class="storefront-jumbotron">
  <div class="container-fluid">
    <div class="jumbotron-highlight row">
      <div class="col-12">
        <h1 class="jumbotron-title">
          LIVE HOW
          <em class="title-emphasis">WE DANCE</em>
        </h1>
      </div>
      <div class="col-12">
        <div class="slogan-wrapper">
          <h3 class="slogan-copy">
            Modern Shop is the boutique fashion brand
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Store categories -->
<div class="container">
  <div class="row storefront-categories">
    <div class="col-12 col-lg-6 store-main-category-col">
      <meetup-store-background-image class="store-main-category women-category" [src]="'/assets/imgs/home/categories-women.jpg'">
        <meetup-store-fill-container [ratio]="{w:4, h:3}">
          <a class="main-category-anchor" [routerLink]="['/products/category', 'women']">
            <button type="button" class="btn main-category-btn">
              SHOP WOMEN
            </button>
          </a>
        </meetup-store-fill-container>
      </meetup-store-background-image>
    </div>
    <div class="col-12 col-lg-6 store-main-category-col">
      <meetup-store-background-image class="store-main-category men-category" [src]="'/assets/imgs/home/categories-men.jpg'">
        <meetup-store-fill-container [ratio]="{w:4, h:3}">
          <a class="main-category-anchor" [routerLink]="['/products/category', 'men']">
            <button type="button" class="btn main-category-btn">
              SHOP MEN
            </button>
          </a>
        </meetup-store-fill-container>
      </meetup-store-background-image>
    </div>
    <div class="col-6 col-lg-3 store-secondary-category-col">
      <div class="store-secondary-category">
        <meetup-store-fill-container [ratio]="{w:4, h:3}">
          <a class="btn secondary-category-btn" [routerLink]="['/products/category', 'kids']">
            KIDS
          </a>
        </meetup-store-fill-container>
      </div>
    </div>
    <div class="col-6 col-lg-3 store-secondary-category-col">
      <div class="store-secondary-category">
        <meetup-store-fill-container [ratio]="{w:4, h:3}">
          <a class="btn secondary-category-btn" [routerLink]="['/products/category', 'outdoors']">
            OUTDOORS
          </a>
        </meetup-store-fill-container>
      </div>
    </div>
    <div class="col-6 col-lg-3 store-secondary-category-col">
      <div class="store-secondary-category">
        <meetup-store-fill-container [ratio]="{w:4, h:3}">
          <a class="btn secondary-category-btn" [routerLink]="['/products/category', 'running']">
            RUNNING
          </a>
        </meetup-store-fill-container>
      </div>
    </div>
    <div class="col-6 col-lg-3 store-secondary-category-col">
      <div class="store-secondary-category">
        <meetup-store-fill-container [ratio]="{w:4, h:3}">
          <a class="btn secondary-category-btn" [routerLink]="['/products/category', 'golf']">
            GOLF
          </a>
        </meetup-store-fill-container>
      </div>
    </div>
  </div>
</div>

<div class="storefront-call-to-action-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h2 class="banner-title">LET IT BE AWESOME</h2>
        <p class="banner-copy">
          Take control of you business with this fashion template.  Remember, YOU have
          the power to make your business what you want it to be. You CAN create a
          business you love.
        </p>
        <span class="banner-tagline">Tomorrow starts today!</span>
        <div class="row banner-actions">
          <div class="col-12 col-md-6 action-col">
            <button type="button" class="btn call-to-action-outline-btn">SUBSCRIBE</button>
          </div>
          <div class="col-12 col-md-6 action-col">
            <button type="button" class="btn call-to-action-fill-btn">SHOP NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container storefront-attributes-section">
  <div class="row storefront-attributes-wrapper">
    <div class="col-12 col-sm-6 col-md-4 storefront-attribute">
      <div class="attribute-illustration-wrapper">
        <meetup-store-preload-image [classes]="'attribute-illustration'" [ratio]="{w:1, h:1}" src="/assets/imgs/home/cart.svg" alt="Cart" title="Cart">
        </meetup-store-preload-image>
      </div>
      <h4 class="attribute-title">YOUR CART</h4>
      <p class="attribute-copy">
        This is a descriptive text of what this title may be trying to say
      </p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 storefront-attribute">
      <div class="attribute-illustration-wrapper">
        <meetup-store-preload-image [classes]="'attribute-illustration'" [ratio]="{w:1, h:1}" src="/assets/imgs/home/truck.svg" alt="Truck" title="Truck">
        </meetup-store-preload-image>
      </div>
      <h4 class="attribute-title">FREE DELIVERY</h4>
      <p class="attribute-copy">
        This is a descriptive text of what this title may be trying to say
      </p>
      </div>
    <div class="col-12 col-sm-6 col-md-4 storefront-attribute">
      <div class="attribute-illustration-wrapper">
        <meetup-store-preload-image [classes]="'attribute-illustration'" [ratio]="{w:1, h:1}" src="/assets/imgs/home/wallet.svg" alt="Wallet" title="Wallet">
        </meetup-store-preload-image>
      </div>
      <h4 class="attribute-title">PAYMENT OPTIONS</h4>
      <p class="attribute-copy">
        This is a descriptive text of what this title may be trying to say
      </p>
    </div>
  </div>
</section>

